<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @foo.name %>
</p>

<p>
  <b>Score:</b>
  <%= @foo.score %>
</p>


<%= link_to 'Edit', edit_foo_path(@foo) %> |
<%= link_to 'Back', foos_path %>
